@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.bg-img {
    background-image: url(/assets/images/img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    right: 0;
    top: 0;

}

.min-vh-100 {
    min-height: 100vh;
}

.navbar {
    background-color: #FFFFFF;
    border-radius: 20px;
    top: 20px;
}

.max-w-1320 {
    max-width: 1320px;
}

.navlinks {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    text-decoration: none;
    color: #000000;
}

.navlinks:hover {
    text-decoration: underline;
}

.gap-28 {
    gap: 28px;
}

.ml-150 {
    margin-left: 150px;
}

.pt-20 {
    padding-top: 20px;
}

.btn {
    background: #FF0000;
    padding: 16px 20px;
    border-radius: 56px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 20px;
}




.max-w-830 {
    max-width: 830px;
}

.heading {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 80.64px;
    text-align: left;
    color: #FFFFFF;
}

.para {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #FFFFFF;
}

.color-black {
    color: #000000;
}

.btn-2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    padding: 20px 32px;
    border-radius: 56px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
}

.btn-2:hover {
    color: #141414;
}

.button:hover {
    color: #141414;
}

.mt-80 {
    margin-top: 80px;
}

.max-w-700 {
    margin-top: 60px;
    width: 700px;
}

.card-3 {
    border-radius: 24px;
    border: none;
    padding: 10px;
    width: 229.17px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.max-w-120 {
    max-width: 120px;
    height: 65.67px;
    margin-bottom: 10px;
    top: 8.33px;
}

.google {
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #141414;
}

.mt-20 {
    margin-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.mb-20 {
    margin-bottom: 20px;
}

.pr-10 {
    padding-right: 10px;
}

.gap-10 {
    gap: 10px;
}

.top-18 {
    top: 18px;
}

.mt-10 {
    margin-top: 10px;
}

.w-100 {
    width: 100%;
}

.google {
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #000000;
}

.sub-heading {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 70.56px;
    text-align: center;

    color: #000000;
}

.text-left {
    text-align: left;
}

.pt-70 {
    padding-top: 70px;
}

.card {
    box-shadow: 0px 0px 12px 3px #B6B6B640;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 24px;
    margin-bottom: 20px;

}

.border {
    border: 1px solid grey;
}

.card {
    border: unset;
}

.house-name {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    color: #000000;
}

.learn {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: left;
    color: #FF0000;
}

.para-2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #000000;
}

.font-size {
    font-size: 18px;
}

.red-box {
    width: 300px;
    height: 396px;
    border-radius: 24px;
    z-index: -1;
    margin-top: 240px;
    background-color: #FF0000;
}

.house {
    margin-left: 40px;
}

.mt-80 {
    margin-top: 80px;
}

.text-left {
    text-align: left;
}

.mt-160 {
    margin-top: 160px;
}

.z-1 {
    z-index: 1;
}

.star-box {
    width: 62px;
    height: 62px;
    gap: 0px;
    border-radius: 10px;
    background: #B400011A;
}

.card-1 {
    width: (592px);
    height: (128px);
    padding: 16px;
    gap: 20px;
    border-radius: 24px;
    box-shadow: 0px 1px 28px 1px #4747471A;
    background: #FFFFFF;
    margin-bottom: 20px;
}

.card-heading {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: #000000;
}

.view {
    background-color: #FFFFFF;
    color: #FF0000;
    border: 1px solid #FF0000;
}

.bg-color {
    background: #FFEBEB;
}

.max-w-452 {
    max-width: 452px;
}

.max-w-370 {
    max-width: 370px;
}

.gap-20 {
    gap: 20px;
}

.house-1 {
    margin-left: 50px;
}

.max-w-508 {
    max-width: 508px;
}

.pt-30 {
    padding-top: 30px;
}

.overflow-color {
    background: #FF0000BF;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 447px;
    border-radius: 24px;


}

.img {
    overflow: hidden;
    border-radius: 24px;
    width: 100%;
    height: 447px;
}

.main-heading {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 70.56px;
    text-align: center;
    font-style: normal;
    color: #FFFFFF;
    position: absolute;
    top: 50px;

}

.paragraph {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    padding-top: 20px;
}

.button {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    border: 1px;
    border-radius: 56px;
    background: white;
    color: #FF0000BF;
    position: absolute;
    padding: 20px 32px 20px 32px;
    bottom: 80px;

}

.max-w-592 {
    max-width: 592px;
}

.text-center {
    text-align: center;
}

.max-w-761 {
    max-width: 761px;
}

.max-w-912 {
    max-width: 912px;

}

.max-w-872 {
    max-width: 872px;
}

.max-w-589 {
    max-width: 589px;
}

.text-decoration {
    text-decoration: none;
}

.bullets {
    list-style-type: none;
}

.pt-10 {
    padding-bottom: 10px;
}

input[type="email"] {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #81848A;
    border: 1px solid #00000026;
    box-shadow: -13.01px 13.01px 104.09px 0px #A1A1A11A;
    border-radius: 62px;
    padding: 20px 20px 20px 10px;
    position: absolute;
    max-width: 340px;
    margin-top: 10px;
}

.right-0 {
    margin-left: 21%;
    margin-top: 17px;
}

.max-w-340 {
    max-width: 340px;
}

.search {
    padding: 15px 40px;
}

.display {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.pl-10 {
    padding-left: 10px;
}

.scale:hover {
    transform: scale(1.3);
}

.gap-20 {
    gap: 20px;
}

.line {
    width: 100%;
    border: 1px solid gray;


}

.max-w-674 {
    max-width: 674px;
}

.max-w-168 {
    max-width: 168px;
}

.line-height {
    line-height: 25.4px;
}

.my-file .slick-track {
    display: flex;
    gap: 20px;}

.slick-next {
    right: 0;
}

.slick-prev {
    display: unset;
}


@media(max-width:1200px) {
    .ml-150 {
        margin-left: 80px;

    }

    .gap-28 {
        gap: 10px;
    }

    .house-1 {
        margin-left: 30px;
    }
}

@media (max-width:991.98px) {

    .menu-list {
        flex-direction: column;
        position: fixed;
        justify-content: center;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: lightcoral;
        transition: right 200ms linear;

        ul {
            flex-direction: column;
        }
    }

    .menu-list.show {
        right: 0;
    }

    .menu-icon {
        display: flex;
        width: 40px;
        height: 30px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1;

        span {
            width: 100%;
            height: 5px;
            background-color: black;
            border-radius: 4px;
            transition: all 200ms linear;
        }
    }

    .menu-icon.active span:first-of-type {
        transform: rotate(38deg);
        transform-origin: left;
    }

    .menu-icon.active span:nth-child(2) {
        height: 0;
    }

    .menu-icon.active span:last-of-type {
        transform: rotate(-38deg);
        transform-origin: left;
    }

    .img {
        max-width: 900px;
        height: 500px
    }

    .overflow-color {
        max-width: 900px;
        height: 500px
    }

    .max-w-700 {
        margin-top: 30px;
        width: 600px;
        height: 500px;
    }

    .education-img {
        margin-top: 200px;
        margin-right: 300px;
        position: absolute;

    }

    .heading {
        font-size: 52px;
        line-height: 70.64px;
    }

    .red-box {
        display: none;
    }

    .house {
        margin-left: 5px;
        width: 100%;
    }

    .house-1 {
        margin-left: 5px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .ml-150 {
        margin-left: 0px;

    }
}


@media(max-width:767.98px) {
    .red-box {
        margin-top: 200px;
    }

    .img {
        max-width: 500px;
        height: 600px;

    }

    .overflow-color {
        max-width: 500px;
        height: 600px;
    }

    .button {
        bottom: 100px;
    }

    .max-w-700 {
        margin-top: 10px;
        width: 400px;
        height: 300px;

    }

    .main-heading {
        font-size: 48px;
        line-height: 60.56px;
    }

    .heading {
        font-size: 40px;
        line-height: 60.64px;
    }

    .text {
        text-align: center;
    }

    .text-1 {
        align-items: center;
    }

    .none {
        position: absolute;
        margin-top: 110px;
    }

}

@media(max-width:575.98px) {



    .sub-heading {
        padding-top: 30px;
    }

    .img {
        max-width: 400px;
        height: 550px;

    }

    .overflow-color {
        max-width: 400px;
        height: 550px;
    }

    .paragraph {
        padding-top: 60px;
    }

    .display {
        display: none;
        justify-content: none;
        gap: 20px;
    }

    .max-w-700 {
        margin-top: 0px;
        width: 250px;
        height: 500px;

    }

    .education-img {
        margin-top: 150px;
        margin-right: 270px;
        position: absolute;

    }

    .responsive {
        top: 150px;
        margin-right: 250px;
        position: absolute;
    }

    .responsive-1 {
        position: absolute;
        top: 40px;
    }

    .main-heading {
        font-size: 38px;
        line-height: 50.56px;

    }

    .space {
        margin-top: 50px;
    }
    .my-file{
        margin-top: 120px;
    }

}